.app-shell {
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-bottom: 44px;
  display: flex;


  @include above(tab-port) {
    padding-bottom: 0;
  }
}
