.app-button {
  outline: none;
  background-color: transparent;
  border: 1px solid var(--green-60);
  border-radius: 25px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  color: var(--green-60);
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--green-60);
    color: var(--white);
  }

  &--expand {
    width: 100%;
  }

  &__icon {
    height: 17.8px;
    max-width: 25px;
    margin-right: 16px;
  }
}
