.plant-card {
  width: 258px;
  height: 321px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  margin-right: 16px;
  position: relative;
  padding: 20px;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  cursor: pointer;

  @include above(m) {
    width: auto;
    margin-right: 0;
    height: 245px;
  }

  &--favorite {
    @include above(m) {
      grid-column: span 2;
      grid-row: span 2;
      height: auto;
    }
  }

  &__staff-favorite-flag {
    position: absolute;
    background-color: var(--green-10);
    color: var(--white);
    left: 0;
    padding: 16px;
    padding-top: 10px;
    font-size: 12.8px;
    line-height: 15.6px;
    border-radius: 0 16px 16px 0;
    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.181163);
  }

  &__image-holder {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;

    img {
      height: 100%;
    }
  }

  &--favorite &__image-holder {
    height: 70%;
  }

  &__text-content {
    display: flex;
    flex-direction: column;
  }

  &--favorite &__text-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  &--favorite &__desc {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height:100%;
  }

  &__title,
  &__price {
    color: var(--green-40);
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
  }

  &__title {
    text-align: left;
  }

  &--favorite &__title {
    @include above(m) {
      font-size: 35px;
      line-height: 37px;
      max-width: 200px;
      margin-bottom: 0;
    }
  }

  &--favorite &__price {
    @include above(m) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__icon {
    height: 20px;
    width: 25px;

    &:not(:last-of-type) {
      margin-right: 8px;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &--favorite &__icon {
    width: 34px;
    height: 26px;
  }
}
