$select-border-radius: 19px;

.app-select {
  width: 100%;
  border: 1px solid var(--gray-three);
  border-radius: $select-border-radius;
  position: relative;
  font-size: 14px;
  padding: 7px 18px;
  background-color: var(--white);
  cursor: pointer;
  color: var(--gray-three);
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &--open {
    border-bottom: 1px solid transparent;
    border-radius: $select-border-radius $select-border-radius 0 0;
  }

  &__select-input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  &__label {
    line-height: 27px;
    display: block;
    cursor: pointer;
  }

  &__custom-options {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: 0;
    left: -1px;
    width: calc(100% + 2px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: 1px solid var(--gray-three);
    border-top: none;
    border-radius: 0 0 $select-border-radius $select-border-radius;
    background-color: var(--white);
    z-index: 1;
  }
  &--open &__custom-options {
    visibility: visible;
    opacity: 1;
    transform: translateY(40px);
  }

  &__arrow {
    width: 18px;
    height: 9px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    &::before,
    &::after {
      content: "";
      display: block;
      width: 50%;
      height: 1px;
      background-color: var(--gray-three);
      position: absolute;
      bottom: 0;
      transition: transform 0.2s ease;
    }

    &::before {
      left: 0;
      transform-origin: 100%;
      transform: rotate(40deg);
    }

    &::after {
      right: 0;
      transform-origin: 0%;
      transform: rotate(-40deg);
    }
  }

  &--open &__arrow {
    &::before {
      transform: translateY(-9px) rotate(-40deg);
    }

    &::after {
      transform: translateY(-9px) rotate(40deg);
    }
  }

  &__virtual-option {
    padding: 7px 18px;
    transition: background-color 0.5s ease, color 0.5s ease;

    &:hover {
      background-color: var(--green-10);
      color: var(--white);
    }

    &:last-of-type {
      border-radius: 0 0 $select-border-radius $select-border-radius;
    }
  }
}
