

@mixin above($breakpoint){
  @if $breakpoint == phone {
    @media (min-width: 600px) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (min-width: 900px){
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == big-desk {
    @media (min-width: 1800px) {
      @content;
    }
  }
}