<aside
  class="app-desk-nav"
  data-component="app-desk-nav"
  v-class="css.collapsed"
>
  <div class="app-desk-nav__top">
    <button id="lala">toggle</button>
    <nav class="app-desk-nav__links">
      <div v-repeat="item in items" class="app-desk-nav__page-link-holder">
        <a class="app-desk-nav__page-link" href="#\{{item.route}}">
          <span class="material-icons">\{{item.icon}}</span>
          <span>\{{item.label}}</span>
        </a>
      </div>
    </nav>
  </div>

  <div class="app-desk-nav__bottom">
    bottom
  </div>
</aside>