$desk-second-plants-layer-delay: 0.4s;

.section-hero {
  width: 100%;
  height: 100vh;
  background-color: var(--green-10);
  position: relative;
  z-index: 0;
  color: var(--white);

  @include above(sm) {
    height: 62.5vh;
  }

  &__content {
    padding-top: 39px;
    z-index: 3;

    @include above(sm) {
      padding-top: 61px;
    }
  }

  &__mobile-decor {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include above(sm) {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      z-index: 2;

      // request mobile image only on mobile
      @include below(sm) {
        background-image: url("/static/images/leaves/mobile-leaves.png");
      }
    }

    &::before {
      height: 65%;
      transform: translateY(30%);
      background-position: bottom center;
      animation: mobilePlantsTranslA ease-out 1s forwards;
    }

    &::after {
      height: 100%;
      transform: translateY(-10%) scaleY(-1) rotate(180deg);
      animation: mobilePlantsTranslB ease-in-out 1.2s forwards;
    }
  }

  &__mobile-person {
    display: block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: auto;
    z-index: 1;
  }

  &__desktop-decor {
    display: none;
    @include above(sm) {
      position: absolute;
      overflow: hidden;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  &__desk-plant-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &::before,
    &::after {
      position: absolute;
      content: "";
      display: block;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      z-index: 2;
    }

    &::before {
      background-position: right center;
      width: 57%;
      left: 0;
      @include above(sm) {
        background-image: url("/static/images/leaves/left-leaves.png");
      }
    }

    &::after {
      background-position: left center;
      width: 20%;
      right: 0;
      @include above(sm) {
        background-image: url("/static/images/leaves/right-leaves.png");
      }
    }

    &--layer-one {
      z-index: 2;

      &::before {
        animation: desktopPlantsTranslC 1.8s ease-out forwards;
      }

      &::after {
        animation: desktopPlantsTranslD 1.8s ease-out forwards;
      }
    }

    &--layer-two {
      z-index: 1;
      &::before {
        transform: translateX(50%);
        animation: desktopPlantsTranslA 1.5s ease-in-out forwards
          $desk-second-plants-layer-delay;
      }

      &::after {
        transform: translateX(-70%);
        animation: desktopPlantsTranslB 1.5s ease-in-out forwards
          $desk-second-plants-layer-delay;
      }
    }
  }

  &__desk-image-holder {
    width: 28%;
    position: absolute;
    left: 57%;
    max-width: 335px;
    min-width: 250px;
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
  }

  &__desktop-person {
    width: 100%;
    transition: transform 0.2s ease;
    transform: translate(var(--mouse-x, 0px), var(--mouse-y, 0px));
  }

  &__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 48.76px;
    margin-top: 35px;
    display: block;

    @include above(sm) {
      font-size: 70px;
      line-height: 85.33px;
      margin-top: 47.48px;
    }
  }

  &__heading-line-holder {
    display: block;
    overflow: hidden;

    span {
      display: block;
      transform: translateY(100%);
    }

    @for $i from 1 to 4 {
      &:nth-child(#{$i}) {
        span {
          animation: headingTranslation
            0.7s
            ease-out
            forwards
            calc(#{$i} * 0.25s);
        }
      }
    }
  }

  &__icon-holder {
    color: var(--white);
    width: 40px;
    height: 40px;
  }
}

@keyframes mobilePlantsTranslA {
  100% {
    transform: translateY(0);
  }
}

@keyframes mobilePlantsTranslB {
  100% {
    transform: translateY(-30%) scaleY(-1) rotate(180deg);
  }
}

@keyframes desktopPlantsTranslA {
  100% {
    transform: translateX(-20%);
  }
}

@keyframes desktopPlantsTranslB {
  100% {
    transform: translateX(10%);
  }
}

@keyframes desktopPlantsTranslC {
  70% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes desktopPlantsTranslD {
  70% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes headingTranslation {
  100% {
    transform: translateY(0);
  }
}
