.section-hero {
  width: 100%;
  height: 100vh;
  background-color: var(--green-10);
  position: relative;
  z-index: 0;

  @include above(sm) {
    height: 62.5vh;
  }

  &__content {
    padding-top: 39px;
    z-index: 1;

    @include above(sm) {
      padding-top: 61px;
    }
  }

  &__mobile-decor {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include above(sm) {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      z-index: 2;

      // request mobile image only on mobile
      @include below(sm) {
        background-image: url("/static/images/leaves/mobile-leaves.png");
      }
    }

    &::before {
      height: 65%;
      transform: translateY(30%);
      background-position: bottom center;
      animation: mobilePlantsTranslA ease-out 1s forwards;
    }

    &::after {
      height: 100%;
      transform: translateY(-10%) scaleY(-1) rotate(180deg);
      animation: mobilePlantsTranslB ease-in-out 1.2s forwards;
    }
  }

  &__mobile-person {
    display: block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: auto;
    z-index: 1;
  }
}

@keyframes mobilePlantsTranslA {
  100% {
    transform: translateY(0);
  }
}

@keyframes mobilePlantsTranslB {
  100% {
    transform: translateY(-30%) scaleY(-1) rotate(180deg);
  }
}
