<section class="section-filters" data-fragment="section-filters">
  {{#> common/container}}
    <div class="section-selectors__content">
      {{#> common/select name="first" fieldSlug="first"}}
        <option value="teste">teste</option>
        <option value="testse">tesase</option>
      {{/common/select }}
      {{#> common/select name="second" fieldSlug="second"}}
        <option value="1">1</option>
        <option value="2">2</option>
      {{/common/select }}
    </div>
  {{/common/container }}
</section>