<section class="section-hero" data-fragment="section-hero">
  <!-- Mobile decor -->
  <div class="section-hero__mobile-decor">
    <img
      width="276px"
      height="234px"
      class="section-hero__mobile-person"
      src="/static/images/mobile-plantperson.png"
      alt="Illustrated person holding a plant"
    />
  </div>
  <!-- Desktop decor -->
  <div class="section-hero__desktop-decor">
    <div
      class="section-hero__desk-plant-bg section-hero__desk-plant-bg--layer-one"
    ></div>
    <div
      class="section-hero__desk-plant-bg section-hero__desk-plant-bg--layer-two"
    ></div>

    <div class="section-hero__desk-image-holder">
      <img
        class="section-hero__desktop-person"
        src="/static/images/plantperson.png"
      />
    </div>
  </div>

  <!-- Text content -->
  <div class="section-hero__content">
    {{#> common/container}}
      {{> common/logo}}
      <h1 class="section-hero__heading">
        <span class="section-hero__heading-line-holder"><span>Find your</span></span>
        <span class="section-hero__heading-line-holder"><span>next green</span></span>
        <span class="section-hero__heading-line-holder"><span
          >friend</span></span>
      </h1>
      <div class="section-hero__icon-holder">
        {{> common/icon icon="arrow"}}
      </div>
    {{/common/container}}
  </div>
</section>