<section class="section-no-results">
  {{#> common/container}}
    <div class="section-no-results__content">
      <div class="section-no-results__text-content">
        <h1 class="section-no-results__title">No results yet…</h1>
        <p class="section-no-results__desc">Use the filters above to find the plant that best fits your environment :) </p>
      </div>
      <div class="section-no-results__image-holder">
        <img 
          src="/static/images/no-results.svg" 
          alt="interrogation illustration"
          width="106" 
          height="205"
          />
      </div>
    </div>
  {{/common/container }}
</section>