<section class="section-plants-results" data-fragment="section-plants-results">
  {{#> common/container}}
    <div class="section-plants-results__text-content">
      <img
        width="158px"
        height="78px"
        class="section-plants-results__hand-ilu"
        src="/static/images/pick.png"
        alt="Illustrated hand holding a plant"
      />
      <h1 class="section-plants-results__title">Our picks for you</h1>
    </div>
  {{/common/container}}
</section>