<section class="section-selectors">
  {{#> common/container}}
    <div class="section-selectors__content">
      {{#> common/select name="first"}}
        <option value="teste">teste</option>
        <option value="testse">tesase</option>
      {{/common/select }}
    </div>
  {{/common/container }}
</section>