<div class="app-select" data-fragment="select" tabindex="0" data-field-slug="{{fieldSlug}}">
  <select class="app-select__select-input" id="app-select-{{fieldSlug}}" name="{{name}}">
    {{> @partial-block }}
  </select>
  <label for="app-select-{{fieldSlug}}" class="app-select__label">Select..</label>
  <div aria-hidden="true" class="app-select__arrow"></div>
  <ul aria-hidden="true" class="app-select__custom-options"></ul>
</div>