<div class="app-select" data-fragment="select" tabindex="0" data-field-slug="{{fieldSlug}}">
  <select class="app-select__select-input" name="{{name}}">
    {{> @partial-block }}
  </select>
  <div class="app-select__label">Select..</div>
  <div class="app-select__arrow"></div>
  <ul class="app-select__custom-options"></ul>
</div>