<div class="app-select" data-fragment="select" tabindex="0">
  <select class="app-select__select-input" name="{{name}}">
    {{> @partial-block }}
  </select>
  <div class="app-select__custom-holder">
    <div class="app-select__current-item">Select</div>
    <ul class="app-select__custom-options"></ul>
  </div>
</div>