@import "./styles/abstract/";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

@import "./fragments/app-shell/";
@import "./fragments/app-mobile-nav/";
@import "./fragments/app-desk-nav/";
