<aside
  class="app-desk-nav"
  data-component="app-desk-nav"
  v-class="css.collapsed"
>
  <div class="app-desk-nav__top">
    <button id="lala">toggle</button>

    <nav class="app-desk-nav__links">
      <div class="app-desk-nav__page-link-holder" v-repeat="item in items">
        <div
          class="app-desk-nav__page-link"
          data-to="@{{item.route}}"
          v-class="currentRoute === item.route ? 'app-desk-nav__page-link--active' : ''"
        >
          <span class="app-desk-nav__page-link-icon material-icons">
            @{{item.icon}}
          </span>
          <span class="app-desk-nav__page-link-label">@{{item.label}}</span>
        </div>
      </div>
    </nav>
  </div>

  <div class="app-desk-nav__bottom">bottom</div>
</aside>
