@font-face {
  font-family: Montserrat;
  src: url("/static/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("/static/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

body {
  font-family: Montserrat;
  font-weight: 300;
  font-style: normal;
}
